*{
margin: 0;
padding: 0;
}

body{
    overflow-x: hidden;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:#926239;
    text-align: center;
    line-height: 1.6;
}

header{
    background-image: url(./Photo/beachshowcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    }

h1{
  font-size: 50px!important;
  display: block;
  padding-top: 300px;
}

#font-p1{
    font-size: 20px;
}

a{
    width: 100px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    border-width: 1px;
    border-color: #926239;
    border-radius: 10px;
    border-style: solid;
    }

    a:hover{
        background-color: #926239;
        color: white;
    }
     
    .third-section{
        display: inline-block;
        box-sizing: border-box;
        width: 33%;
        text-align: left; 
    }

    #brownbackground{
        color: white;
        background-color: #926239;
        padding: 20px;
    }

    #whitebackground{
        background-color: white;
        padding: 20px;
    }


    @media screen and (min-width:300px) and (max-width:500px) {

            header{
            height: 40vh;
            }

            h1{
            font-size: 26px!important;
            padding-top: 80px;
            }
              
            #font-p1{
            font-size: 14px;
            }
        
            .font {
            max-width: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center; 
            font-size: 12px;
            }
        }
