*{
margin: 0;
padding: 0;
}

body{
    overflow-x: hidden;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#926239;
    text-align: center;
    line-height: 2;
}

header{
    background-image: url(./Photo/beachshowcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    }

h1{
  font-size: 50px!important;
  line-height: 1.5;
  display: block;
  padding-top: 300px;
}

#font-p1{
    font-size: 20px;
}

a{
    width: 100px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border-width: 1px;
    border-color: #926239;
    border-radius: 10px;
    border-style: solid;
    }

    a:hover{
        background-color: #926239;
        color: white;
    }

    .section-first{
        display: block;
        padding: 20px;

    }

    

    .section-second{
        display: inline-block;
        text-align: left;
        padding: 20px 20px;

    }

    #brownbackground{
        color: white;
        background-color: #926239;
    }

    #whitebackground{
        background-color: white;

    }